<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
    <hr class="star-dark mb-5" />
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let portfolio of portfolios">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
          <div
            class="portfolio-item-caption d-flex position-absolute h-100 w-100"
          >
            <div
              class="portfolio-item-caption-content my-auto w-100 text-center text-white"
            >
              <i
                class="fas fa-search-plus fa-3x"
                onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;"
                (click)="getPortfolio(portfolio.id)"
              ></i>
            </div>
          </div>
          <img class="img-fluid" [(src)]="portfolio.imageUrl" alt="" />
        </a>
      </div>
    </div>
  </div>
  <!--Magnifier-->

  <div id="id01" class="modal">
    <form class="modal-content animate" *ngFor="let portfolio of portfolios">
      <div class="imgcontainer">
        <span
          onclick="document.getElementById('id01').style.display='none'"
          class="close"
          title="Close"
          >&times;</span
        >
        <h3>{{ portfolio.title }}</h3>
        <img
          [(src)]="portfolio.imageUrl"
          [alt]="portfolio.title"
          class="avatar"
        />
      </div>

      <div class="container">
        <p>{{ portfolio.description }}</p>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button
          type="button"
          onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <script>
    var modal = document.getElementById("id01");

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
</section>
